{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #1F509A;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard-index' %}">
            <img src="{% static 'images/Logo2.png' %}" alt="Eyyyable Logo" style="max-height: 40px;">
        </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white font-weight-bold">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2"><strong>{{ user.username }}</strong></span>
                        <i class="fa fa-user-circle" style="font-size: 24px;"></i>   
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user-profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <form method="post" action="{% url 'user-logout' %}" class="mb-0">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item btn btn-link text-dark" style="width: 100%; text-align: left;">
                                Logout
                            </button>
                        </form>
                    </div>
                </li>
            </ul>                                    
        </div>
    </div>
</nav>

