{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!--Table-->

{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn text-white btn-block" style="background-color: #E38E49;" type="submit" value="Add Product">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead style="background-color: #1F509A;">
                    <tr class="text-white">
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Category</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-center">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="text-center">{{ item.name }}</td>
                        <td class="text-center">{{item.category}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-center">
                            <a class="btn text-white btn-sm" href="{% url 'dashboard-product-update' item.id%}" style="background-color: #E38E49;">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id%}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->

{% endblock %}