{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}
<!--Table-->
{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead style="background-color: #1F509A;">
                    <tr class="text-white">
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Phone</th>
                        <th scope="col" class="text-center">View Details</th>
                    </tr>
                </thead>
                <tbody>
                    {%for worker in workers %}
                    <tr>
                        <td class="text-center">{{ worker.username }}</td>
                        <td class="text-center">{{ worker.email}}</td>
                        <td class="text-center">{{ worker.profile.phone }}</td>
                        <th scope="row" class="text-center"><a class="btn text-white btn-sm" style="background-color: #E38E49;" href="{% url 'dashboard-staff-detail' worker.id %}">View</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}