{% extends 'partials/base.html' %}
{% block title %} Logout Page {% endblock %}

{% block content %}
<div class="container rounded-lg">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <div class="alert alert-danger">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h3>Oh no! you are logged out</h3>
                        <hr>
                        <a href="{% url 'user-login' %}">Login Again</a>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
