{% extends 'partials/base.html' %}
{% block title %} Logout Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-white" style="background-color: #1F509A;">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="d-flex justify-content-between mb-2">
                                    <span class="h4">Profile Information</span>
                                    <div>
                                        <a class="btn text-white btn-sm mr-2" style="background-color: #E38E49;" href="{% url 'user-profile-update' %}">Edit</a>
                                        <a class="btn text-white btn-sm" style="background-color: #1F509A;" href="{% url 'dashboard-index' %}">Back</a>
                                    </div>
                                </div>                                
                                <hr>
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Name</th>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone</th>
                                            <td>{{ user.profile.phone }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Address</th>
                                            <td>{{ user.profile.address }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}